.menuItemActive {
    display: block;
    height: 100px;
    vertical-align: middle;
    padding-left: 0px;
    background-color: #ccc;
    box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,0.3);
    font-family: 'open sans 400';
    font-size: 22px;
    a {color:#6c2548; text-decoration: none;};
    a:active {color:#6c2548; text-decoration: none;};
    a:visited {color:#6c2548; text-decoration: none;};
    color: red;
    text-decoration: none #6c254;
}