{
  "extends": "yoast",
  "rules": {
    "__comment": [ 0, "Max length put on 200 because it is hard to stay under 150 with text strings." ],
    "max-len": [ 2, 200 ],
    "complexity": [ "error", 10 ],
    "react/jsx-key": [ 0 ],
    "react/no-unescaped-entities": [ 0 ],
    "__comment2": [ 0, "Style-prop-object results in problems with the internationalization components, see https://github.com/yahoo/react-intl/issues/833 and https://github.com/yannickcr/eslint-plugin-react/issues/849" ],
    "react/style-prop-object": 0,
    "react/default-props-match-prop-types": 1,
    "react/no-unused-prop-types": 1,
    "react/no-access-state-in-setstate": 1,
    "react/no-unused-state": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-no-target-blank": 1,
    "react/require-default-props": 1,
    "react/forbid-foreign-prop-types": 1
  },
  "settings": {
    "react": {
      "version": "16.0",
    },
  }
}
